 <h1>{{title}}</h1>
    
    <h1> Welcome ,  {{name}}  </h1>
   
    <my-user (userUpdated)="userUpdated($event)"> </my-user>
    

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
      <a routerLink="/users" routerLinkActive="active">Users</a>
      <a routerLink="/foods" routerLinkActive="active">Foods</a>
      <a routerLink="/meals" routerLinkActive="active">Meals</a>
    </nav>
 <router-outlet></router-outlet>