
<!-- ------------------------------------------------------
  
Errors
  
--------------------------------------------------------- -->

<div *ngIf="errorMessage">
  <h2>
    {{errorMessage}} 
  </h2>
  is an error
</div>

<!-- ------------------------------------------------------
  
Search
  
--------------------------------------------------------- -->


<h2>Search Food</h2>
<div>
   <label>Food Name:</label> 
   <input let foodName value="" (keyup)="onKey($event)"/>
    {{foodCount | number}} 
  <!--<label>Food Ndbno:</label> <input #foodNdbno value="1225"/>-->
  <!--<button (click)="getFoodByNdbno(foodNdbno.value);">
    Get Food By ID-->
  <!--</button>
    <button (click)="getAllFoods();">
    Get All Foods
  </button>-->
</div>

<!--<div *ngIf="returnedFood">
  <h2>
    {{returnedFood | json}} 
  </h2>
  is returned food
</div>-->

<!-- ------------------------------------------------------
  
Selected
  
--------------------------------------------------------- -->


<div *ngIf="selectedFood">
  <h2> Food Id: {{selectedFood.ndbno}}
       Food Name: {{selectedFood.name}} 
  </h2>
  is selected food
</div>

<br>



<div *ngIf="selectedLabel">
  <h2> Selected Label: {{selectedLabel}}      
  </h2>
  is selected label
</div>


<br>


<div *ngIf="amountNumber">
  <h2> Selected Amount: {{amountNumber}}      
  </h2>
  is selected amount
</div>


<br>

<div *ngIf="selectedFood">

 <h2>How Much {{selectedFood.name}}?</h2>

</div>

<br>

<!--<div *ngIf="selectedMeasure">
  <h2>Measure Id: {{selectedMeasure.id}}
      Measure Label: {{selectedMeasure.label}}
      Measure Eqv: {{selectedMeasure.eqv}}
      Measure Qty: {{selectedMeasure.qty}}
      Measure Value: {{selectedMeasure.value}}
      Measure Ndbno_id: {{selectedMeasure.ndbno_id}}
      Measure Nutrient_id: {{selectedMeasure.nutrient_id}}
  </h2>
  is selected measure
</div>-->


<!--
<div *ngIf="selectedNutrient">
  <h2>Nutrient Id: {{selectedNutrient.id}}
      Nutrient_id: {{selectedNutrient.nutrient_id}} 
      Nutrient Name: {{selectedNutrient.name}}
      Nutrient Grp: {{selectedNutrient.grp}}
      Nutrient Unit: {{selectedNutrient.unit}}
      Nutrient Value: {{selectedNutrient.value}}
      Nutrient Ndbno: {{selectedNutrient.ndbno}}
  </h2>
  is selected nutrient
</div>-->




<!-- ------------------------------------------------------
  
Lists
  
--------------------------------------------------------- -->


<div *ngIf="foods">

<ul class="heroes">
    <li *ngFor="let food of foods" (click)="onSelectFood(food)"
      [class.selected]="food === selectedFood">
    
    <span class="badge">{{food.ndbno}}</span>
    <span>{{food.name}}</span>
    </li>

</ul>

</div>

<!--<div *ngIf="nutrients">

  Food Nutrients:

<ul class="heroes">
    <li *ngFor="let nutrient of nutrients" (click)="onSelectNutrient(nutrient)"
      [class.selected]="nutrient === selectedNutrient">
    <span class="badge">Nutrient_id: {{nutrient.nutrient_id}}</span>
    <span>Id PK: {{nutrient.id}}</span>
    <span>Name: {{nutrient.name}}</span>
    <span>Grp: {{nutrient.grp}}</span>
    <span>Unit: {{nutrient.unit}}</span>
    <span>Value: {{nutrient.value}}</span>
    <span>Ndbno: {{nutrient.ndbno}}</span>
</li>

</ul>
</div>-->





<!--<div *ngIf="measures">

  Food Measures:

<ul class="heroes">

    <li *ngFor="let measure of measures" (click)="onSelectMeasure(measure)"
      [class.selected]="measure === selectedMeasure">
    <span class="badge">Label: {{measure.label}}</span>
    <span>Id: {{measure.id}}</span>
    <span>Eqv: {{measure.eqv}}</span>
    <span>Qty: {{measure.qty}}</span>
    <span>Value: {{measure.value}}</span>
    <span>Ndbno: {{measure.ndbno_id}}</span>
    <span>Nutrient Id: {{measure.nutrient_id}}</span>
    </li>  

</ul>
</div>-->

<!--<div *ngIf="measures">
<select [(ngModel)] = "selectedMeasure">
<option  *ngFor="let measure of measures" [ngValue]="measure">

{{measure.label}}

</option>
</select>
</div>

<br>-->



<!-- ------------------------------------------------------
  
LABEL DROPDOWN AND AMOUNT
  
--------------------------------------------------------- -->




<div *ngIf="measuresLabels">

<label>Measure Label: </label> 

<!--<input type="radio">-->



<select [(ngModel)] = "selectedLabel" (change)="onAmount()">
<option  *ngFor="let label of measuresLabels" [ngValue]="label.label" >

{{label.label}}

</option>
</select>
</div>


<br>


<div *ngIf="selectedLabel">

   <label>Amount:</label> 
   <input [(ngModel)] = "amountNumber"   (keyup)="onAmount()"  />

</div>


<br>


<!--<div *ngIf="choosenNutrients">

  Choosen Nutrients:

<ul class="heroes">
    <li *ngFor="let nutrient of choosenNutrients" (click)="onSelectNutrient(nutrient)"
      [class.selected]="nutrient === selectedNutrient">
    <span class="badge">Nutrient_id: {{nutrient.nutrient_id}}</span>
    <span>Id PK: {{nutrient.id}}</span>
    <span>Name: {{nutrient.name}}</span>
    <span>Grp: {{nutrient.grp}}</span>
    <span>Unit: {{nutrient.unit}}</span>
    <span>Value: {{nutrient.value}}</span>
    <span>Ndbno: {{nutrient.ndbno}}</span>
</li>

</ul>
</div>-->


<div *ngIf="choosenNutrients">

  Choosen Nutrients:  {{choosenNutrients.length}}

  

  <button (click)="addFoodToMeal();">

    Save to Meal

  </button>

</div>





