
<div *ngIf="errorMessage">
  <h2>
    {{errorMessage}} 
  </h2>
  is an error
</div>
  
  
  
  <h2> New User </h2>

  <div>
    <label>Email:  </label> 
    <input [(ngModel)]="user.email" placeholder="Email" />
   </div>

  <div>
    <label>First Name:  </label>
    <input [(ngModel)]="user.firstName" placeholder="First Name" />
  </div>

    <div>
    <label>Last Name:   </label>
    <input [(ngModel)]="user.lastName" placeholder="Last Name" />
   </div>

   <div>
    <label>Password:   </label>
    <input [(ngModel)]="user.password" placeholder="Password" />
   </div>

   

    <div>
    <label>Birthday:  </label>
    <input [(ngModel)]="user.birthdate" placeholder="Birthdate" />
   </div>

    <div>
    <label>Sex:   </label>
    <input [(ngModel)]="user.sex" placeholder="Sex" />
   </div>

   <div>
    <label>Heigth:   </label>
    <input [(ngModel)]="user.height" placeholder="Height" />
   </div>

    <div>
    <label>Weight:   </label>
    <input [(ngModel)]="user.weight" placeholder="Weight" />
   </div>

   <div>
    <label>Active:   </label>
    <input [(ngModel)]="user.active" placeholder="Active" />
   </div>

  <button (click)="saveUser()">Save</button>

  <button (click)="goBack()">Back</button>

