<h2>Users</h2>
<div>
  <!--<label>User email:</label> <input #userEmail value="jeffrey.leupp@gmail.com"/>
  <label>User password:</label> <input #userPassword value="12345"/>
  <button (click)="login(userEmail.value,userPassword.value); userEmail.value=''; userPassword.value=''; ">
    Login
  </button>-->
    <button (click)="goToCreateUser();">
    New User
  </button>
</div>

<br>

<div>
 
  <button (click)="ping();">
    Ping
  </button>

</div>

<div *ngIf="errorMessage">
  <h2>
    {{errorMessage}} 
  </h2>
  is an error
</div>

<div *ngIf="pinged">
  <h2>
    {{pinged | json}} 
  </h2>
   is a response
</div>



<ul class="heroes">
    <li *ngFor="let user of users" (click)="onSelect(user)"
      [class.selected]="user === selectedUser">
    <span class="badge">{{user.email}}</span>
    <span>{{user.firstName}}</span>
    <span>{{user.lastName}}</span>
    <button class="delete"
    

    (click)="delete(user); $event.stopPropagation()">x</button>
    
  </li>

</ul>
<div *ngIf="selectedUser">
  <h2>
    {{selectedUser.firstName | uppercase}} is my selected user
  </h2>
  <button (click)="goToUserDetail()">View Details</button>
</div>