<h2>Current User</h2>
<div>
  <label>User email:</label> <input #userEmail value="jeffrey.leupp@gmail.com"/>
  <label>User password:</label> <input #userPassword value="12345"/>
  <button (click)="login(userEmail.value,userPassword.value); userEmail.value=''; userPassword.value=''; ">
    Login
  </button>
    <button (click)="ping();">
    Ping
  </button>
</div>

<div *ngIf="users">
  <h2>
    {{users}} 
  </h2>
  is current user
</div>

<div *ngIf="selectedUser">
  <h2>
    {{selectedUser | json}} 
  </h2>
  is selected user
</div>



<div *ngIf="errorMessage">
  <h2>
    {{errorMessage}} 
  </h2>
  is an error
</div>

<div *ngIf="pinged">
  <h2>
    {{pinged | json}} 
  </h2>
   is a response
</div>



<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>

</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>